apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bouwmeester

commonLabels:
  app.kubernetes.io/managed-by: kustomize

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - ingress.yaml
  - db-migration-job.yaml
